[Unit]
Description=sidekiq

[Service]
Type=simple
User=deploy
Group=deploy
UMask=0002

WorkingDirectory=/var/www/{{ application.name }}/current
PIDFile=/var/www/{{ application.name }}/current/tmp/pids/sidekiq.pid

RestartSec=1
Restart=on-failure

SyslogIdentifier=sidekiq
StandardOutput=syslog
StandardError=syslog

Environment=RAILS_ENV={{ application.environment }}
Environment=GOVERNMENT_COLLECTION_DATABASE_PASSWORD={{ mysql.application_user_password }}
Environment=SECRET_KEY_BASE={{ application.secret_key_base }}

ExecStart=/usr/local/rbenv/shims/bundle exec sidekiq -e {{ application.environment }} -C /var/www/{{ application.name }}/current/config/sidekiq.yml
ExecStop=/usr/local/rbenv/shims/bundle exec sidekiqctl stop $MAINPID 10

[Install]
WantedBy=multi-user.target
