[Unit]
Description=sidekiq

[Service]
Type=simple
User=deploy
Group=deploy
UMask=0002

WorkingDirectory=/var/www/{{ application.name }}/current
PIDFile=/var/www/{{ application.name }}/current/tmp/pids/sidekiq.pid

RestartSec=1
Restart=on-failure

SyslogIdentifier=sidekiq
StandardOutput=syslog
StandardError=syslog

EnvironmentFile=/etc/systemd/user/{{ application.deploy_user }}/env
Environment=RAILS_ENV={{ application.environment }}

ExecStart=/usr/local/rbenv/shims/bundle exec sidekiq -e {{ application.environment }} -C /var/www/{{ application.name }}/current/config/sidekiq.yml
ExecStop=/usr/local/rbenv/shims/bundle exec sidekiqctl stop $MAINPID 10

[Install]
WantedBy=multi-user.target
